<?xml version="1.0"?>
<configuration>
  <components>
    <component id="TypeDocumentGridDao"
      type="Mdt10.Data.VueDao.TypeDocumentGridDao, Mdt10.Data"
      service="Mdt10.Metier.DataInterfaces.ITypeDocumentGridDao, Mdt10.Metier">

    </component>


    <component id="TypeDocumentComboDao"
  type="Mdt10.Data.VueDao.TypeDocumentComboDao, Mdt10.Data"
  service="Mdt10.Metier.DataInterfaces.ITypeDocumentComboDao, Mdt10.Metier">
    </component>


    <!--Objet Périodicité-->
    <component id="PeriodiciteGridDao"
      type="Mdt10.Data.VueDao.PeriodiciteGridDao, Mdt10.Data"
      service="Mdt10.Metier.DataInterfaces.IPeriodiciteGridDao, Mdt10.Metier">
    </component>

    <component id="PeriodiciteComboDao"
      type="Mdt10.Data.VueDao.PeriodiciteComboDao, Mdt10.Data"
      service="Mdt10.Metier.DataInterfaces.IPeriodiciteComboDao, Mdt10.Metier">
    </component>

    <component id="VueMediaDao"
      type="Mdt10.Data.VueDao.VueMediaDao, Mdt10.Data"
      service="Mdt10.Metier.DataInterfaces.IMediaVueDao, Mdt10.Metier">
    </component>




    <!--Objet MotCle-->
    <component id="MotCleGridDao"
        type="Mdt10.Data.VueDao.MotCleGridDao, Mdt10.Data"
        service="Mdt10.Metier.DataInterfaces.IMotCleVueDao, Mdt10.Metier">
    </component>


    <!--Objet DocumentMotCle-->
    <component id="DocumentMotCleGridDao"
        type="Mdt10.Data.VueDao.DocumentMotCleGridDao, Mdt10.Data"
        service="Mdt10.Metier.DataInterfaces.IDocumentMotCleVueDao, Mdt10.Metier">
    </component>


    <!--Objet Revue-->
    <component id="RevueGridDao"
  type="Mdt10.Data.VueDao.RevueGridDao, Mdt10.Data"
  service="Mdt10.Metier.DataInterfaces.IRevueGridDao, Mdt10.Metier">
    </component>

    <component id="RevueComboDao"
  type="Mdt10.Data.VueDao.RevueComboDao, Mdt10.Data"
  service="Mdt10.Metier.DataInterfaces.IRevueComboDao, Mdt10.Metier">
    </component>

    <component id="VueAudioDao"
  type="Mdt10.Data.VueDao.VueAudioDao, Mdt10.Data"
  service="Mdt10.Metier.DataInterfaces.IAudioVueDao, Mdt10.Metier">
    </component>


    <!--Objet Genre-->
    <component id="GenreGridDao"
  type="Mdt10.Data.VueDao.GenreGridDao, Mdt10.Data"
  service="Mdt10.Metier.DataInterfaces.IGenreGridDao, Mdt10.Metier">
    </component>

    <component id="GenreComboDao"
  type="Mdt10.Data.VueDao.GenreComboDao, Mdt10.Data"
  service="Mdt10.Metier.DataInterfaces.IGenreComboDao, Mdt10.Metier">
    </component>

    <!--Objet Livre-->
    <component id="LivreGridDao"
  type="Mdt10.Data.VueDao.LivreGridDao, Mdt10.Data"
  service="Mdt10.Metier.DataInterfaces.ILivreGridDao, Mdt10.Metier">
    </component>

    <!--Objet Exemplaire-->
    <component id="ExemplaireGridDao"
 type="Mdt10.Data.VueDao.ExemplaireGridDao, Mdt10.Data"
 service="Mdt10.Metier.DataInterfaces.IExemplaireGridDao, Mdt10.Metier">
    </component>
  </components>
</configuration>
