<?xml version="1.0"?>
<configuration>
  <components>
    <component id="ScalaireGetLastCoteDao"
      type="Mdt10.Data.ScalaireDao.GetLastCoteScalaireDao, Mdt10.Data"
      service="Mdt10.Metier.DataInterfaces.IDaoScalaireGetLastCote, Mdt10.Metier">
    </component>
    <component id="ScalaireGetDateFirstExemplaireDao"
      type="Mdt10.Data.ScalaireDao.GetDateFirstExemplaireDao, Mdt10.Data"
      service="Mdt10.Metier.DataInterfaces.IDaoScalaireGetDateFirstExemplaire, Mdt10.Metier">
    </component>
  </components>
</configuration>
