<?xml version="1.0"?>
<configuration>
  <components>
    <component id="primaryDaoFactory"
               type="Mdt10.Data.NHibernateDaoSession, Mdt10.Data"
               service="Mdt10.Metier.DataInterfaces.IDaoSession, Mdt10.Metier">
      <parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component id="primaryMediaDao"
           type="Mdt10.Data.Dao.MediaDao, Mdt10.Data"
           service="Mdt10.Metier.DataInterfaces.IMediaDaoEntite, Mdt10.Metier">
    </component>

    <component id="primaryDocumentDao"
           type="Mdt10.Data.Dao.DocumentDao, Mdt10.Data"
           service="Mdt10.Metier.DataInterfaces.IDocumentDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <component id="primaryMotCleDao"
           type="Mdt10.Data.Dao.MotCleDao, Mdt10.Data"
           service="Mdt10.Metier.DataInterfaces.IMotCleDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <!--Objet DocumentDocumentMotCle-->
    <component id="primaryDocumentMotCleDao"
       type="Mdt10.Data.Dao.DocumentMotCleDao, Mdt10.Data"
       service="Mdt10.Metier.DataInterfaces.IDocumentMotCleDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <component id="primaryGenreDao"
          type="Mdt10.Data.Dao.GenreDao, Mdt10.Data"
          service="Mdt10.Metier.DataInterfaces.IGenreDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <component id="primaryTypeDocumentDao"
          type="Mdt10.Data.Dao.TypeDocumentDao, Mdt10.Data"
          service="Mdt10.Metier.DataInterfaces.ITypeDocumentDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <component id="primaryPeriodiciteDao"
     type="Mdt10.Data.Dao.PeriodiciteDao, Mdt10.Data"
     service="Mdt10.Metier.DataInterfaces.IPeriodiciteDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <component id="primaryPeriodiqueDao"
      type="Mdt10.Data.Dao.PeriodiqueDao, Mdt10.Data"
      service="Mdt10.Metier.DataInterfaces.IPeriodiqueDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <component id="primaryLivreDao"
  type="Mdt10.Data.Dao.LivreDao, Mdt10.Data"
  service="Mdt10.Metier.DataInterfaces.ILivreDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <component id="primaryAudioDao"
      type="Mdt10.Data.Dao.AudioDao, Mdt10.Data"
      service="Mdt10.Metier.DataInterfaces.IAudioDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <component id="primaryVideoDao"
      type="Mdt10.Data.Dao.VideoDao, Mdt10.Data"
      service="Mdt10.Metier.DataInterfaces.IVideoDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <component id="primaryBandeDessinneeDao"
      type="Mdt10.Data.Dao.BandeDessinneeDao, Mdt10.Data"
      service="Mdt10.Metier.DataInterfaces.IBandeDessinneeDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <component id="primaryRevueDao"
      type="Mdt10.Data.Dao.RevueDao, Mdt10.Data"
      service="Mdt10.Metier.DataInterfaces.IRevueDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <component id="primaryExemplaireDao"
  type="Mdt10.Data.Dao.ExemplaireDao, Mdt10.Data"
  service="Mdt10.Metier.DataInterfaces.IExemplaireDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

    <component id="primaryUtilisateurDao"
  type="Mdt10.Data.Dao.UtilisateurDao, Mdt10.Data"
  service="Mdt10.Metier.DataInterfaces.IUtilisateurDaoEntite, Mdt10.Metier">
      <!--<parameters>
        <sessionFactoryConfigPath>Config\MediathequeNHibernate.config</sessionFactoryConfigPath>
      </parameters>-->
    </component>

  </components>
</configuration>
